<mat-toolbar class="header mat-elevation-z4">

    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                save
            </i>
            Adicionar
        </a>

        <a>
            <i class="material-icons">
                update
            </i>
            Atualizar
        </a>

        <a>
            <i class="material-icons">
                youtube_searched_for
            </i>
            Consultar
        </a>
    </span>

</mat-toolbar>