<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    save
                </i>
                Adicionar
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    update
                </i>
                Atualizar
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    youtube_searched_for
                </i>
                Consultar
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>