.card{
    margin: 10px;
}

.sql{
    font-size: 14px;
}

.card1{
    display: flex;
    margin: 15px;
}

.card1 button{
    margin-right: 10px;
}

.card2{
    margin: 15px;
}

.card2 button{
    margin-left: 10px;
}

.card2 input{
    margin-right: 10px;
}